.edit_link {
    cursor: pointer;
    color: #5bc0de;
    text-decoration: none;
}
.edit_link :hover {
    color: #0056b3;
}
.delete_link{
    cursor: pointer;
    color: #d9534f;
    text-decoration: none;
}
.delete_link :hover {
    color: #a94442;
}